//icons common for all plugins/applications
.cbx-icon-search {
  background-image: url('../icons/icon_search.svg');
}

.cbx-icon-search-white {
  background-image: url('../icons/icon_search_white.svg');
}

.cbx-icon-refresh {
  background-image: url("../icons/icon_refresh.svg");
}

.cbx-icon-refresh-white {
  background-image: url("../icons/icon_refresh_white.svg");
}

.cbx-icon-table-filter {
  background-image: url('../icons/icon_filters.svg');
}

.cbx-icon-reset {
  background-image: url('../icons/icon_reset.svg');
}

.cbx-icon-reset-white {
  background-image: url('../icons/icon_reset_white.svg');
}

.cbx-icon-close {
  background-image: url("../icons/icon_close.svg");
}

.cbx-icon-lock {
  background-image: url("../icons/icon_lock.svg");
}

.cbx-icon-unlock {
  background-image: url("../icons/icon_unlock.svg");
}

.cbx-icon-delete {
  background-image: url("../icons/icon_delete.svg");
}

.cbx-icon-delete-white {
  background-image: url("../icons/icon_delete_white.svg");
}

.cbx-icon-edit {
  background-image: url("../icons/icon_edit.svg");
}

.cbx-icon-edit-white {
  background-image: url("../icons/icon_edit_white.svg");
}

.cbx-icon-save {
  background-image: url('../icons/icon_save.svg');
}

.cbx-icon-save-white {
  background-image: url("../icons/icon_save_white.svg");
}

.cbx-icon-share {
  background-image: url("../icons/icon_share.svg");
}

.cbx-icon-share-white {
  background-image: url("../icons/icon_share_white.svg");
}

.cbx-icon-square-plus {
  background-image: url("../icons/icon_square_plus.svg");
}

.cbx-icon-square-minus {
  background-image: url("../icons/icon_square_minus.svg");
}

.cbx-icon-square-plus-white {
  background-image: url("../icons/icon_square_plus_white.svg");
}

.cbx-icon-square-minus-white {
  background-image: url("../icons/icon_square_minus_white.svg");
}

.cbx-icon-circle-plus {
  background-image: url("../icons/icon_circle_plus.svg");
}

.cbx-icon-circle-minus {
  background-image: url("../icons/icon_circle_minus.svg");
}

.cbx-icon-circle-plus-white {
  background-image: url("../icons/icon_circle_plus_white.svg");
}

.cbx-icon-circle-minus-white {
  background-image: url("../icons/icon_circle_minus_white.svg");
}

.cbx-icon-plus {
  background-image: url("../icons/icon_plus.svg");
}

.cbx-icon-minus {
  background-image: url("../icons/icon_minus.svg");
}

.cbx-icon-plus-white {
  background-image: url("../icons/icon_plus_white.svg");
}

.cbx-icon-minus-white {
  background-image: url("../icons/icon_minus_white.svg");
}

.cbx-icon-externallink {
  background-image: url('../icons/icon_external.svg');
}

.cbx-icon-view {
  background-image: url("../icons/icon_view.svg");
}

.cbx-icon-view-white {
  background-image: url("../icons/icon_view_white.svg");
}

.cbx-icon-table-filters {
  background-image: url('../icons/icon_filters.svg');
}

.cbx-icon-table-filters-white {
  background-image: url('../icons/icon_filters_white.svg');
}

.cbx-icon-clone {
  background-image: url('../icons/icon_clone.svg');
}

.cbx-icon-clone-white {
  background-image: url('../icons/icon_clone_white.svg');
}

.cbx-icon-grid {
  background-image: url('../icons/icon_grid.svg');
}

.cbx-icon-list {
  background-image: url('../icons/icon_list.svg');
}

.cbx-icon-save {
  background-image: url('../icons/icon_save.svg');
}

.cbx-icon-save-white {
  background-image: url('../icons/icon_save_white.svg');
}

.cbx-icon-print {
  background-image: url('../icons/icon_print.svg');
}

.cbx-icon-print-white {
  background-image: url('../icons/icon_print_white.svg');
}

.cbx-icon-user-circle {
  background-image: url('../icons/icon_user_circle.svg');
}

.cbx-icon-user-circle-white {
  background-image: url('../icons/icon_user_circle_white.svg');
}

.cbx-icon-logout {
  background-image: url('../icons/icon_logout.svg');
}

.cbx-icon-logout-white {
  background-image: url('../icons/icon_logout_white.svg');
}

.cbx-icon-move {
  background-image: url('../icons/icon_move.svg');
}

.cbx-icon-move-white {
  background-image: url('../icons/icon_move_white.svg');
}

.cbx-icon-export {
  background-image: url('../icons/icon_export.svg');

}

.cbx-icon-export-white {
  background-image: url('../icons/icon_export_white.svg');
}

.cbx-icon-import {
  background-image: url('../icons/icon_import.svg');
}

.cbx-icon-import-white {
  background-image: url('../icons/icon_import_white.svg');
}

.cbx-icon-maximize {
  background-image: url('../icons/icon_maximize.svg');
}

.cbx-icon-maximize-white {
  background-image: url('../icons/icon_maximize_white.svg');
}

.cbx-icon-minimize {
  background-image: url('../icons/icon_minimize.svg');
}

.cbx-icon-minimize-white {
  background-image: url('../icons/icon_minimize_white.svg');
}

.cbx-icon-message-circle {
  background-image: url('../icons/icon_message_circle.svg');
}

.cbx-icon-message-circle-white {
  background-image: url('../icons/icon_message_circle_white.svg');
}


.cbx-icon-location {
  background-image: url('../icons/icon_location.svg');
}

.cbx-icon-location-white {
  background-image: url('../icons/icon_location_white.svg');
}

.cbx-icon-thumbs-up {
  background-image: url('../icons/icon_thumbs_up.svg');
}

.cbx-icon-thumbs-up-white {
  background-image: url('../icons/icon_thumbs_up_white.svg');
}

.cbx-icon-thumbs-down {
  background-image: url('../icons/icon_thumbs_down.svg');
}

.cbx-icon-thumbs-down-white {
  background-image: url('../icons/icon_thumbs_down_white.svg');
}

.cbx-icon-settings {
  background-image: url('../icons/icon_settings.svg');
}

.cbx-icon-settings-white {
  background-image: url('../icons/icon_settings_white.svg');
}

.cbx-icon-copy {
  background-image: url('../icons/icon_copy.svg');
}

.cbx-icon-copy-white {
  background-image: url('../icons/icon_copy_white.svg');
}

.cbx-icon-cut {
  background-image: url('../icons/icon_cut.svg');
}

.cbx-icon-cut-white {
  background-image: url('../icons/icon_cut_white.svg');
}

.cbx-icon-tag {
  background-image: url('../icons/icon_tag.svg');
}

.cbx-icon-tag-white {
  background-image: url('../icons/icon_tag_white.svg');
}

.cbx-icon-clock {
  background-image: url('../icons/icon_clock.svg');
}

.cbx-icon-clock-white {
  background-image: url('../icons/icon_clock_white.svg');
}

.cbx-icon-heart {
  background-image: url('../icons/icon_heart.svg');
}

.cbx-icon-heart-white {
  background-image: url('../icons/icon_heart_white.svg');
}

.cbx-icon-lock {
  background-image: url('../icons/icon_lock.svg');
}

.cbx-icon-lock-white {
  background-image: url('../icons/icon_lock_white.svg');
}

.cbx-icon-unlock {
  background-image: url('../icons/icon_unlock.svg');
}

.cbx-icon-unlock-white {
  background-image: url('../icons/icon_unlock_white.svg');
}

.cbx-icon-currency-dollar {
  background-image: url('../icons/icon_currency_dollar.svg');
}

.cbx-icon-currency-dollar-white {
  background-image: url('../icons/icon_currency_dollar_white.svg');
}


.cbx-icon-phone {
  background-image: url('../icons/icon_phone.svg');
}

.cbx-icon-phone-white {
  background-image: url('../icons/icon_phone_white.svg');
}

.cbx-icon-more-h {
  background-image: url('../icons/icon_more_h.svg');
}

.cbx-icon-more-h-white {
  background-image: url('../icons/icon_more_h_white.svg');
}

.cbx-icon-more-v {
  background-image: url('../icons/icon_more_v.svg');
}

.cbx-icon-more-v-white {
  background-image: url('../icons/icon_more_v_white.svg');
}

.cbx-icon-gear{
  background-image: url('../icons/icon_gear.svg');
}

.cbx-icon-gear-white {
  background-image: url('../icons/icon_gear_white.svg');
}

.cbx-icon-back {
  background-image: url('../icons/icon_back.svg');
}

.cbx-icon-back-white {
  background-image: url('../icons/icon_back_white.svg');
}

.cbx-icon-email {
  background-image: url('../icons/icon_email.svg');
}

.cbx-icon-email-white {
  background-image: url('../icons/icon_email_white.svg');
}

.cbx-icon-message {
  background-image: url('../icons/icon_message.svg');
}

.cbx-icon-message-white {
  background-image: url('../icons/icon_message_white.svg');
}

.cbx-icon-checked {
  background-image: url('../icons/icon_checked.svg');
}

.cbx-icon-checked-white {
  background-image: url('../icons/icon_checked_white.svg');
}

.cbx-icon-unchecked, .cbx-icon-square {
  background-image: url('../icons/icon_unchecked.svg');
}

.cbx-icon-unchecked-white, .cbx-icon-square-white {
  background-image: url('../icons/icon_unchecked_white.svg');
}

.cbx-icon-circle {
  background-image: url('../icons/icon_circle.svg');
}

.cbx-icon-circle-white {
  background-image: url('../icons/icon_circle_white.svg');
}

.cbx-icon-code {
  background-image: url('../icons/icon_code.svg');
}

.cbx-icon-code-white {
  background-image: url('../icons/icon_code_white.svg');
}

.cbx-icon-check {
  background-image: url('../icons/icon_check.svg');
}

.cbx-icon-check-white {
  background-image: url('../icons/icon_check_white.svg');
}

@import "app_icons";