#adminmenu .wp-menu-open#toplevel_page_cbxwpbookmarkdash a.menu-top {
  background: $app_primary_color !important;
  color: #fff !important;
}

#toplevel_page_cbxwpbookmarkdash .wp-submenu li.current,
#toplevel_page_cbxwpbookmarkdash .wp-submenu li.current:hover {
  background: lighten($app_primary_color, 10%) !important;
  color: #fff !important;
  font-weight: bold !important;
}

#toplevel_page_cbxwpbookmarkdash .wp-submenu li:hover {
  background: lighten($app_primary_color, 20%) !important;
  color: #fff !important;
  font-weight: normal !important;
}

#toplevel_page_cbxwpbookmarkdash .wp-submenu li a:focus,
#toplevel_page_cbxwpbookmarkdash .wp-submenu li a:hover {
  color: #fff !important;
}

#adminmenu .toplevel_page_cbxwpbookmarkdash .wp-menu-image{
  height: 34px;
  img{
    padding:5px 0 0 0 !important;
    vertical-align: middle;
  }
}
